.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.link {
  text-decoration: none;
  color: #2f80ed;
}

.link:hover { 
  color: #ffbb33;
  opacity: 0.4;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

.description {
  box-sizing: border-box;
  padding-top: 100px;
  display: flex;
  /*justify-content: center;*/
}

.two-columns {
  width: 80%;
  min-width: 784px;
  margin: auto;
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-between;
  /*align-items: stretch;*/
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid red;
}

.two-columns__main-text {
  margin: 0;
  width: 80%;
  /*display: flex;
  flex-direction: column;*/
  border: 1px solid red;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-of-type(2n) {
  margin: 30px 0;
} 

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  box-sizing: border-box;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
  border: 1px solid red;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
  border: 1px solid red;
}

.table {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  height: 790px;
  box-sizing: border-box;
  padding-top: 80px;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__title {
  margin: 0 auto;
  width: 648px;
  position: relative;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 0;
  margin-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 64px;
}

.kaufman {
  overflow: hidden;
  background-color: #1f1f1f;
  box-sizing: border-box;
  padding: 90px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  top: 0px;
  right: -210px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.footer {
  background-color: #1f1f1f;
  color: white;
  box-sizing: border-box;
  padding: 60px 0 40px;
}

.footer__columns {
  margin:auto;
  min-height: 350px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 20px auto 16px;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  color: white;
  display: block;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
