.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  border: 1px solid red;
  position: relative;
  display: flex;
  background-color: #f2f2f2;
  z-index: -3;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  border: 1px solid red;
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  
}

.header__title {
  margin: 0;
  margin-left: 64px;
  border: 1px solid red;
  color: #0;
  width: 730px;
  line-height: 94px;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  color: #0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  border: 1px solid red;
  background-image: url(../images/header-image.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}

.content {

}

.description {
  box-sizing: border-box;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.two-columns {
  width: 80%;
  min-width: 784px;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  border: 1px solid red;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  margin: 0;
  border: 1px solid red;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph_position_center {
  margin: 30px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  border: 1px solid red;
  box-sizing: border-box;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  border: 1px solid red;
  margin: 0;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  border: 1px solid red;
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  border: 1px solid red;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  border: 1px solid red;
  height: 790px;
  background-color: #f2f2f2;
  position: relative;
  z-index: -2;
}

/* .feynman__title {
  border: 1px solid red;
  margin: 0;
  margin-top: 100px;
  width: 648px;
  position: relative;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 0;
  margin-top: 70px;
  border: 1px solid red;
  text-align: center;
  position: relative;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
} */

.feynman__link {
  border: 1px solid red;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 64px;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__illustration {
  border: 1px solid red;
  width: 867px;
  height: 637px;
  background-image: url(../images/feynman.png);
  background-size: cover;
  position: relative;
  z-index: -1;
}

/* и элемента с модификатором вида ключ-значение */

.kaufman {
  border: 1px solid red;
  overflow: hidden;
  background-color: #1f1f1f;
  box-sizing: border-box;
  position: relative;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kaufman-triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  top: 0px;
  right: -210px;
  
}

.table__cell_theme_dark {
  z-index: 1;
}

.section-title_theme_dark {
   color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* .footer__social-icon {
  width: 16px;
  height: 16px;
} */

.footer {
  background-color: #1f1f1f;
  border: 1px solid red
}

.footer__columns {
  color: white;
  border: 1px solid red;
  width: 90%;
  display: flex; 
}

.footer__column {
  
}

.footer__column_content_copyright {
  color: white;
  flex-basis: 711px;
  border: 1px solid red;
}

.logo_place_footer {
  border: 1px solid red;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  color: white;
  border: 1px solid red;
}

.footer__column_content_info {
  color: white;
  border: 1px solid red;
}

.footer__column-heading {
  color: white;
  border: 1px solid red;
}

.footer__column-links {
  color: white;
  border: 1px solid red;
}

.footer__column-link {
  color: white;
  border: 1px solid red;
}

.footer__column_content_social {
  color: white;
  border: 1px solid red;
}

